@import '~antd/dist/antd.css';


#root,.App{
  height: 100vh;
}
.control{
  padding: 20px;
}
.canvas-contianer{
  width: 80vw;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-left: 20px;
}
.canvas-box{
  padding-bottom: 56.25%;
  height: 0;
}
.control-btn{
  margin-right: 10px;
}
